<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gryllo_link">
  <xacro:include filename="$(find gryllo)/urdf/gryllo/common.xacro" />
  <xacro:arg name="min_force" default="-30.0"/>
  <xacro:arg name="max_force" default="30.0"/>

  <xacro:macro name="gryllo_center_link_with_spine" params="child1 child2 child3 child4 pitch">
    ## dummy ##
    <link name="root">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="0.00001" iyy="0.00001" izz="0.00001" ixy="0" ixz="0" iyz="0"/>
      </inertial>
    </link>
    <joint name="root_joint" type="fixed">
      <parent link="root"/>
      <child link="base_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    ## link ##
    #### rear base ####
    <link name="base_link">
      <inertial>
        <origin xyz="0.0099 0.0000 0.1014" rpy="0 0 0"/>
        <mass value="0.44985"/>
        <inertia ixx="0.00506" iyy="0.00342" izz="0.00718" ixy="0.00000" ixz="-0.00027" iyz="0.00000"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://gryllo/urdf/gryllo/mesh/detailed/gimbal_base_esccon.STL"/>
        </geometry>
      </visual>
      <collision>
	<origin xyz="-0.05 0 0" rpy="0 0 0"/>
	<geometry>
	  <box size="0.25 0.25 0.20"/>
	</geometry>
      </collision>
    </link>
    <xacro:damping_factor link="base_link"/>

    #### front base ####
    <link name="base_link_2">
      <inertial>
        <origin xyz="0.0099 -0.0655 0.0012" rpy="0 0 0"/>
        <mass value="0.41059"/>
        <inertia ixx="0.00484" iyy="0.00320" izz="0.00716" ixy="0.00000" ixz="-0.00030" iyz="0.00000"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://gryllo/urdf/gryllo/mesh/detailed/gimbal_base.STL"/>
        </geometry>
      </visual>
      <collision>
	<origin xyz="-0.050 0 0" rpy="0 0 0"/>
	<geometry>
	  <box size="0.25 0.25 0.20"/>
	</geometry>
      </collision>
    </link>
    <xacro:damping_factor link="base_link_2"/>

    #### rear act unit ####
    <link name="act_unit">
      <inertial>
        <origin xyz="0.1251 0.0001 -0.0184" rpy="0 0 0"/>
        <mass value="0.30623"/>
        <inertia ixx="0.00048" iyy="0.00576" izz="0.00542" ixy="0.00001" ixz="-0.00078" iyz="0.00000"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://gryllo/urdf/gryllo/mesh/detailed/tendon_act_unit_spinalint.STL"/>
        </geometry>
      </visual>
    </link>

    #### front act unit ####
    <link name="act_unit_2">
      <inertial>
        <origin xyz="0.0099 -0.0655 0.0012" rpy="0 0 0"/>
        <mass value="0.17878"/>
        <inertia ixx="0.00021" iyy="0.00181" izz="0.00165" ixy="0.00000" ixz="0.00037" iyz="0.00000"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://gryllo/urdf/gryllo/mesh/detailed/tendon_act_unit.STL"/>
        </geometry>
      </visual>
    </link>
    <xacro:damping_factor link="act_unit_2"/>

    #### fc ####
    <link name="fc">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.00001"/>
        <inertia ixx="0.00001" iyy="0.00001" izz="0.00001" ixy="0.00000" ixz="0.00000" iyz="0.00000"/>
      </inertial>
    </link>
    <joint name="fc_joint" type="fixed">
      <parent link="act_unit"/>
      <child link="fc"/>
      <origin xyz="0.11520 0.00001 0.04759" rpy="0 0 0"/>
    </joint>

    #### spine links 1-5 ####
    <link name="spine_1">
      <inertial>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<mass value="0.03000"/>
	<inertia ixx="0.00001" iyy="0.00004" izz="0.00003" ixy="0.00000" ixz="0.00001" iyz="0.00000"/>
      </inertial>
      <visual>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<geometry>
	  <mesh filename="package://gryllo/urdf/gryllo/mesh/detailed/spine_single_joints.STL"/>
	</geometry>
      </visual>
    </link>
    <xacro:damping_factor link="spine_1"/>

    <link name="spine_2">
      <inertial>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<mass value="0.03000"/>
	<inertia ixx="0.00001" iyy="0.00004" izz="0.00003" ixy="0.00000" ixz="0.00001" iyz="0.00000"/>
      </inertial>
      <visual>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<geometry>
	  <mesh filename="package://gryllo/urdf/gryllo/mesh/detailed/spine_single_joints.STL"/>
	</geometry>
      </visual>
    </link>
    <xacro:damping_factor link="spine_2"/>

    <link name="spine_3">
      <inertial>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<mass value="0.03000"/>
	<inertia ixx="0.00001" iyy="0.00004" izz="0.00003" ixy="0.00000" ixz="0.00001" iyz="0.00000"/>
      </inertial>
      <visual>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<geometry>
	  <mesh filename="package://gryllo/urdf/gryllo/mesh/detailed/spine_single_joints.STL"/>
	</geometry>
      </visual>
    </link>
    <xacro:damping_factor link="spine_3"/>

    <link name="spine_4">
      <inertial>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<mass value="0.03000"/>
	<inertia ixx="0.00001" iyy="0.00004" izz="0.00003" ixy="0.00000" ixz="0.00001" iyz="0.00000"/>
      </inertial>
      <visual>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<geometry>
	  <mesh filename="package://gryllo/urdf/gryllo/mesh/detailed/spine_single_joints.STL"/>
	</geometry>
      </visual>
    </link>
    <xacro:damping_factor link="spine_4"/>

    <link name="spine_5">
      <inertial>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<mass value="0.03000"/>
	<inertia ixx="0.00001" iyy="0.00004" izz="0.00003" ixy="0.00000" ixz="0.00001" iyz="0.00000"/>
      </inertial>
      <visual>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<geometry>
	  <mesh filename="package://gryllo/urdf/gryllo/mesh/detailed/spine_single_joints.STL"/>
	</geometry>
      </visual>
    </link>
    <xacro:damping_factor link="spine_5"/>

    ## joints ##
    #### spine joints ####
    <!-- <joint name="spine_joint_1" type="revolute"> -->
    <!--   <parent link="act_unit"/> -->
    <!--   <child link="spine_1"/> -->
    <!--   <origin xyz="0.19432 0.0 0.01373" rpy="0 0 0"/> -->
    <!--   <axis xyz="0 0 1"/> -->
    <!--   <limit lower="-0.52" upper="0.52" effort="5.0" velocity="2.0"/> -->
    <!--   <dynamics damping="10.0" friction="0.0"/> -->
    <!-- </joint> -->

    <!-- <joint name="spine_joint_2" type="revolute"> -->
    <!--   <parent link="spine_1"/> -->
    <!--   <child link="spine_2"/> -->
    <!--   <origin xyz="${pitch} 0 0" rpy="0 0 0"/> -->
    <!--   <axis xyz="0 0 1"/> -->
    <!--   <limit lower="-0.52" upper="0.52" effort="5.0" velocity="2.0"/> -->
    <!--   <dynamics damping="10.0" friction="0.0"/> -->
    <!--   <mimic joint="spine_joint_1" multiplier="1.0" offset="0.0"/> -->
    <!-- </joint> -->

    <joint name="spine_joint_3" type="revolute">
      <parent link="spine_2"/>
      <child link="spine_3"/>
      <origin xyz="${pitch} 0 0" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <limit lower="-0.52" upper="0.52" effort="5.0" velocity="2.0"/>
      <dynamics damping="20.0" friction="2.0"/>
      <mimic joint="spine_joint_1" multiplier="1.0" offset="0.0"/>
    </joint>

    <!-- <joint name="spine_joint_4" type="revolute"> -->
    <!--   <parent link="spine_3"/> -->
    <!--   <child link="spine_4"/> -->
    <!--   <origin xyz="${pitch} 0 0" rpy="0 0 0"/> -->
    <!--   <axis xyz="0 0 1"/> -->
    <!--   <limit lower="-0.52" upper="0.52" effort="5.0" velocity="2.0"/> -->
    <!--   <dynamics damping="10.0" friction="0.0"/> -->
    <!--   <mimic joint="spine_joint_1" multiplier="1.0" offset="0.0"/> -->
    <!-- </joint> -->

    <joint name="spine_joint_5" type="revolute">
      <parent link="spine_4"/>
      <child link="spine_5"/>
      <origin xyz="${pitch} 0 0" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <limit lower="-0.52" upper="0.52" effort="5.0" velocity="2.0"/>
      <dynamics damping="10.0" friction="0.0"/>
      <mimic joint="spine_joint_1" multiplier="1.0" offset="0.0"/>
    </joint>

    <!-- <joint name="spine_joint_6" type="revolute"> -->
    <!--   <parent link="spine_5"/> -->
    <!--   <child link="act_unit_2"/> -->
    <!--   <origin xyz="${pitch} 0 0" rpy="0 0 0"/> -->
    <!--   <axis xyz="0 0 1"/> -->
    <!--   <limit lower="-0.52" upper="0.52" effort="5.0" velocity="2.0"/> -->
    <!--   <dynamics damping="10.0" friction="0.0"/> -->
    <!--   <mimic joint="spine_joint_1" multiplier="1.0" offset="0.0"/> -->
    <!-- </joint> -->
    
    <joint name="spine_joint_1" type="fixed">
      <parent link="act_unit"/>
      <child link="spine_1"/>
      <origin xyz="0.19432 0.0 0.01373" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <limit lower="-0.52" upper="0.52" effort="5.0" velocity="2.0"/>
      <dynamics damping="1.0" friction="0.0"/>
    </joint>

    <joint name="spine_joint_2" type="fixed">
      <parent link="spine_1"/>
      <child link="spine_2"/>
      <origin xyz="${pitch} 0 0" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <limit lower="-0.52" upper="0.52" effort="5.0" velocity="2.0"/>
      <dynamics damping="1.0" friction="0.0"/>
    </joint>

    <!-- <joint name="spine_joint_3" type="fixed"> -->
    <!--   <parent link="spine_2"/> -->
    <!--   <child link="spine_3"/> -->
    <!--   <origin xyz="${pitch} 0 0" rpy="0 0 0"/> -->
    <!--   <axis xyz="0 0 1"/> -->
    <!--   <limit lower="-0.52" upper="0.52" effort="5.0" velocity="2.0"/> -->
    <!--   <dynamics damping="1.0" friction="0.0"/> -->
    <!-- </joint> -->

    <joint name="spine_joint_4" type="fixed">
      <parent link="spine_3"/>
      <child link="spine_4"/>
      <origin xyz="${pitch} 0 0" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <limit lower="-0.52" upper="0.52" effort="5.0" velocity="2.0"/>
      <dynamics damping="1.0" friction="0.0"/>
    </joint>

    <!-- <joint name="spine_joint_5" type="fixed"> -->
    <!--   <parent link="spine_4"/> -->
    <!--   <child link="spine_5"/> -->
    <!--   <origin xyz="${pitch} 0 0" rpy="0 0 0"/> -->
    <!--   <axis xyz="0 0 1"/> -->
    <!--   <limit lower="-0.52" upper="0.52" effort="5.0" velocity="2.0"/> -->
    <!--   <dynamics damping="1.0" friction="0.0"/> -->
    <!-- </joint> -->

    <joint name="spine_joint_6" type="fixed">
      <parent link="spine_5"/>
      <child link="act_unit_2"/>
      <origin xyz="${pitch} 0 0" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <limit lower="-0.52" upper="0.52" effort="5.0" velocity="2.0"/>
      <dynamics damping="1.0" friction="0.0"/>
    </joint>

    #### transmissions ####
    <!-- <transmission name="spine_tran_1"> -->
    <!--   <type>transmission_interface/SimpleTransmission</type> -->
    <!--   <joint name="spine_joint_1"> -->
    <!-- 	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> -->
    <!--   </joint> -->
    <!--   <actuator name="spine_servo_1"> -->
    <!-- 	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> -->
    <!-- 	<mechanicalReduction>1</mechanicalReduction> -->
    <!--   </actuator> -->
    <!-- </transmission> -->

    <!-- <transmission name="spine_tran_2"> -->
    <!--   <type>transmission_interface/SimpleTransmission</type> -->
    <!--   <joint name="spine_joint_2"> -->
    <!-- 	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> -->
    <!--   </joint> -->
    <!--   <actuator name="spine_servo_2"> -->
    <!-- 	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> -->
    <!-- 	<mechanicalReduction>1</mechanicalReduction> -->
    <!--   </actuator> -->
    <!-- </transmission> -->

    <transmission name="spine_tran_3">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="spine_joint_3">
	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="spine_servo_3">
	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <!-- <transmission name="spine_tran_4"> -->
    <!--   <type>transmission_interface/SimpleTransmission</type> -->
    <!--   <joint name="spine_joint_4"> -->
    <!-- 	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> -->
    <!--   </joint> -->
    <!--   <actuator name="spine_servo_4"> -->
    <!-- 	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> -->
    <!-- 	<mechanicalReduction>1</mechanicalReduction> -->
    <!--   </actuator> -->
    <!-- </transmission> -->

    <transmission name="spine_tran_5">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="spine_joint_5">
	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="spine_servo_5">
	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <!-- <transmission name="spine_tran_6"> -->
    <!--   <type>transmission_interface/SimpleTransmission</type> -->
    <!--   <joint name="spine_joint_6"> -->
    <!-- 	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> -->
    <!--   </joint> -->
    <!--   <actuator name="spine_servo_6"> -->
    <!-- 	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> -->
    <!-- 	<mechanicalReduction>1</mechanicalReduction> -->
    <!--   </actuator> -->
    <!-- </transmission> -->

    #### rotor arms ####
    <link name="rotor_arm${child1}">
      <inertial>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<mass value="0.00001"/>
	<inertia ixx="0.00001" iyy="0.00001" izz="0.00001" ixy="0.00000" ixz="0.00000" iyz="0.00000"/>
      </inertial>
    </link>
    <joint name="base_arm_joint${child1}" type="fixed">
      <parent link="base_link"/>
      <child link="rotor_arm${child1}"/>
      <origin rpy="0 0 ${pi*3.0/4.0}" xyz="-0.134 0.173 0.034"/>
    </joint>

    <link name="rotor_arm${child2}">
      <inertial>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<mass value="0.00001"/>
	<inertia ixx="0.00001" iyy="0.00001" izz="0.00001" ixy="0.00000" ixz="0.00000" iyz="0.00000"/>
      </inertial>
    </link>
    <joint name="base_arm_joint${child2}" type="fixed">
      <parent link="base_link"/>
      <child link="rotor_arm${child2}"/>
      <origin rpy="0 0 ${pi*5.0/4.0}" xyz="-0.134 -0.173 0.034"/>
    </joint>

    <link name="rotor_arm${child3}">
      <inertial>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<mass value="0.00001"/>
	<inertia ixx="0.00001" iyy="0.00001" izz="0.00001" ixy="0.00000" ixz="0.00000" iyz="0.00000"/>
      </inertial>
    </link>
    <joint name="base_arm_joint${child3}" type="fixed">
      <parent link="base_link_2"/>
      <child link="rotor_arm${child3}"/>
      <origin rpy="0 0 ${-pi/4.0}" xyz="0.134 -0.173 0.034"/>
    </joint>

    <link name="rotor_arm${child4}">
      <inertial>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<mass value="0.00001"/>
	<inertia ixx="0.00001" iyy="0.00001" izz="0.00001" ixy="0.00000" ixz="0.00000" iyz="0.00000"/>
      </inertial>
    </link>
    <joint name="base_arm_joint${child4}" type="fixed">
      <parent link="base_link_2"/>
      <child link="rotor_arm${child4}"/>
      <origin rpy="0 0 ${pi/4.0}" xyz="0.134 0.173 0.034"/>
    </joint>

    <xacro:friction self="base_link"/>
    <xacro:friction self="base_link_2"/>

    #### roll joints ####
    <joint name="act_unit_joint_1" type="revolute">
      <limit effort="1.5" lower="-2.0" upper="2.0" velocity="3.0"/>
      <parent link="base_link"/>
      <child link="act_unit"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <axis xyz="1 0 0"/>
      <dynamics damping="0.8" friction="0.0"/>
    </joint>

    <transmission name="joint_tran_5">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="act_unit_joint_1">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="spine_rotator_1">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <joint name="act_unit_joint_2" type="revolute">
      <limit effort="1.5" lower="-2.0" upper="2.0" velocity="3.0"/>
      <parent link="act_unit_2"/>
      <child link="base_link_2"/>
      <origin rpy="0 0 0" xyz="0.195 0.0 -0.014"/>
      <axis xyz="1 0 0"/>
      <dynamics damping="0.8" friction="0.0"/>
    </joint>
    
    <transmission name="joint_tran_6">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="act_unit_joint_2">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="spine_rotator_2">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:macro name="gryllo_thrust_link" params="self rotor_direction">

    ## link
    #### rotor parent link (virtual) ####
    <link name="gimbal_link${self}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.1728"/>
        <inertia ixx="0.00016871" ixy="0" ixz="0" iyy="0.00127202" iyz="0" izz="0.00136211"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://gryllo/urdf/gryllo/mesh/simple/rotor_unit_leftside.STL"/>
        </geometry>
      </visual>
    </link>
    <xacro:damping_factor link="gimbal_link${self}"/>

    ## rotor parent link (virtual)
    <link name="rotor_parent${self}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.00001"/>
        <inertia
            ixx="0.000001" ixy="0.0" ixz="0.0"
            iyy="0.000001" iyz="0.0"
            izz="0.000001"/>
      </inertial>
    </link>
    
    ## thrust link (virtual)
    <link name="thrust${self}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.00001"/>
        <inertia
            ixx="0.001" ixy="0.0" ixz="0.0"
            iyy="0.001" iyz="0.0"
            izz="0.001"/>
      </inertial>
    </link>
    <xacro:damping_factor link="thrust${self}"/>

    #### joints ####    
    #### gimbal joints ####
    <joint name="gimbal${self}" type="revolute">
      <limit effort="1.5" lower="-2.0" upper="2.0" velocity="3.0"/>
      <parent link="rotor_arm${self}"/>
      <child link="gimbal_link${self}"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <axis xyz="1 0 0"/>
      <dynamics damping="0.8" friction="0.0"/>
    </joint>

    <transmission name="joint_tran${self}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="gimbal${self}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="servo${self}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    #### rotor parent link joint (virtual) ####
    <joint name="rotor_parent_link_joint${self}" type="fixed">
      <parent link="gimbal_link${self}"/>
      <child link="rotor_parent${self}"/>
      <origin rpy="0 0 0" xyz="0.0848 0.0 0.0"/>
      <axis xyz="0 0 ${rotor_direction}"/>
    </joint>

    #### rotor joint (virtual) ####
    <joint name="rotor${self}" type="continuous">
      <limit effort="100.0" lower="${min_force}" upper="${max_force}" velocity="0.5"/>
      <parent link="rotor_parent${self}"/>
      <child link="thrust${self}"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <axis xyz="0 0 ${rotor_direction}"/>
    </joint>

    <transmission name="rotor_tran${self}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="rotor${self}">
        <hardwareInterface>RotorInterface</hardwareInterface>
      </joint>
      <actuator name="rotor_actuator${self}">
        <hardwareInterface>RotorInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>    

  </xacro:macro>

</robot>
